/**
 * Event Tickets Plus - IAC styles.
 *
 * @since 5.1.0
 */

@import 'utilities/_all.pcss';

.event-tickets,
.entry .entry-content .event-tickets {

	.tribe-tickets__iac-email-disclaimer {
		color: var(--tec-color-text-primary-light);
		padding: var(--tec-spacer-2) 0 var(--tec-spacer-6) 0;

		@media (--viewport-medium) {
			padding: calc(var(--tec-spacer-4) / 2) 0 var(--tec-spacer-6) 0;
		}
	}
}
